body{ 

	background-color: dimgray; 
	margin: 50px;
	color: white; 
	font-family: "Garamond", serif;
	
}

table, th, td{
	font-size: 20px;
	width: 50%;
	border: 2px solid dimgray;
	border-collapse: collapse;
}

.name{
	font-weight: bold;
}

th, td{
	padding: 20px;
	vertical-align: bottom;
}

thead{
	background-color: rgb(79, 51, 58);
}

tfoot{
	background-color: darkgray;
}

tr.suwak:hover{
	background-color: rgb(120, 75, 87);
}

#id1{
	background-color: rgb(67, 67, 67);
	color: rgb(255, 154, 181);
	font-size: 30px;
}

#box{
	width: 1200px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
}

#tab{
	float: left;
	width: 700px;
}

#im{
	float: right;
	margin-top: 150px;
}


